<div class="first full-width color-three">
  <p><img src="/images/portrait.jpg" id="portrait"></p>
  <h1>Hi there!</h1>
  <h2>I'm Joshua Rieken.</h2>
</div>

<div class="full-width color-six">
  <div class="row short-intro">
    <div class="twelve columns">
      <h4>As Manager and Lead Developer for <a href="http://wholebean.net">Whole Bean Productions</a> in Houston, TX, I craft things for the web. I use a lot of Ruby and JavaScript, and I'm comfortable across the entire web dev stack.</h4>
      <p>
        <a href="http://www.ruby-lang.org" alt="Ruby">
          <img src="/images/ruby-small.png">
        </a>
        <a href="http://www.unity3d.com" alt="Unity">
          <img src="/images/unity-small.png">
        </a>
        <a href="http://www.apple.com" alt="Apple">
          <img src="/images/apple-small.png">
        </a>
      </p>
      <h4>I occasionally branch out and work on Unity projects and iOS apps.</h4>
    </div>
  </div>
</div>
<div class="full-width color-seven">
  <div class="row callout">
    <div class="twelve columns">
      <p>Let's connect!
        <br/>
        <a href="mailto:joshua@wholebean.net" alt="Email">
          <i class="general foundicon-mail social-icon"></i>
        </a>
        <a href="http://twitter.com/tehhax" alt="Twitter">
          <i class="social foundicon-twitter social-icon"></i>
        </a>
        <a href="http://linkedin.com/in/joshuarieken" alt="LinkedIn">
          <i class="social foundicon-linkedin social-icon"></i>
        </a>
        <a href="http://github.com/facto" alt="GitHub">
          <i class="social foundicon-github social-icon"></i>
        </a>
      </p>
    </div>
  </div>
</div>
